extends layout

block content
  h1 This is #{title}
  p Welcome to #{title}


  p Mein Spiel mit David
  // .eidogo-player-auto(sgf = "/dgs/835682")

  .eidogo-player-auto(sgf = "/sgf/bitti-slaxor-835456-20130908.sgf")
  .eidogo-player-auto(sgf = "/sgf/bitti-slaxor-835682-20130908.sgf")
  .eidogo-player-auto(sgf = "/sgf/slaxor-Dickie-828762-20130908.sgf")

