doctype 5
html
  head
    title= title
    script(type='text/javascript').
      eidogoConfig = {
          theme:          "slaxor", // "standard" or "compact"
          mode:           "play", // "play" or "view"
          showComments:    true,
          showPlayerInfo:  true,
          showGameInfo:    true,
          showTools:       true,
          showOptions:     true,
          showNavTree:     true,
          markCurrent:     true,
          markVariations:  true,
          markNext:        true,
          problemMode:     false,
          enableShortcuts: true,
          scoreEstUrl:     '/gnugo/estimate'
          searchUrl:       "/search/",
          saveUrl:         "/save",
          downloadUrl:     '/download/,
      };

    script(type="text/javascript" src="player/i18n/de.js")
    script(type="text/javascript" src="player/js/all.compressed.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
